.container {
  position: relative;

  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #ffffffad;

    .spinner-border {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

img {
  width: 800px;
  height: 600px;
  object-fit: contain;
}

.row {
  margin-top: 50px;
}


