<div class="container">
  <div class="input-data">
    <div class="custom-file">
      <input type="text" #label>
      <input type="file" multiple (change)="fileChangeEvent($event)">
      <label class="custom-file-label">Choose file</label>
    </div>

    <img [src]="imageSrc" #img *ngIf="imageSrc"/>

<!--    <div class="list-group">-->
<!--      <div class="list-group-item" *ngFor="let prediction of predictions">-->
<!--        {{prediction.className}} - {{prediction.probability}}-->
<!--      </div>-->
<!--    </div>-->
  </div>

  <div class="check-data">
    <div class="custom-file">
      <input type="file" class="custom-file-input" (change)="imageClassification($event)">
      <label class="custom-file-label">Choose file</label>
    </div>

    <img [src]="classifiedImgScr" #classifiedImg *ngIf="classifiedImgScr"/>

    <div id="console"></div>
  </div>
</div>

